/* Navbar.css */

nav {
  background-color: #1e1e1e; /* Dark background color */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Distribute links evenly */
  align-items: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #f10000; /* White text color */
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f39c12; /* Highlight color on hover */
}

nav ul li a.active {
  color: #f39c12; /* Highlight current page link */
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}
