/* Navbar.css */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; /* Change this to match your design */
  z-index: 1000; /* Ensures the navbar stays on top of other content */
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

/* Adjust the top margin of the main content to avoid overlapping with the navbar */
.App {
  margin-top: 60px; /* Adjust this value based on the height of your navbar */
}
